* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font: 12px Verdana;
  max-width: 500px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin: 2rem 0 1rem 0;
  padding: 0.5rem;
}

table {
  width: 100%;
}

table, td, th {
  margin: 0;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.25rem;
}

thead {
  background-color: skyblue
}

tfoot {
  font-weight: bold;
  background-color: skyblue
}